#no-seach-results {
    margin-top: 300px;
    text-align: center;
    margin-left: 50px;
}
#no-seach-results > p {
    font-size: 24px;
} 
#no-seach-results > button {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid grey;
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
}
#no-seach-results > button:hover {
    border-color: #E50914;
    cursor: pointer;
}