#search-box-outer {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: rgba(34, 34, 34, 0.856);
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-box-inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 40px;
}
#search-box-close {
    background-color: rgb(18, 18, 18);
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    color: #E50914;
    margin: 12px 0 0 -45px;
}
#search-form {
    width: 500px;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    padding: 15px 15px 15px 20px;
}
#search-form > h2 {
    margin-top: 0;
}
#search-form-text {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 20px;
}
#search-form-text > input {
    background-color: rgb(34, 34, 34);
    border: 1px solid #808080;
    padding: 6px 5px 6px 36px;
    font-size: 18px;
    border-radius: 10px;
    width: 400px;
    margin-top: 2px;
    outline: none;
    color: white;
}
#search-form-text > i {
    position: relative;
    left: 26px;
}
#search-form-text > i:hover {
    color: #E50914;
}
.checked {
    border: 1px solid #E50914;
    background-color: rgb(34, 34, 34);
}
.unchecked {
    border: 1px solid #7e7e7e;
    background-color: rgb(34, 34, 34);
    color: #999999;
}
.checked, .unchecked {
    border-radius: 10px;
    margin-left: 10px;
}
#search-box-close:hover, .checked:hover, .unchecked:hover, #search-form-text > i:hover, #search-form-genre > select:hover {
    cursor: pointer;
}
#search-form > h3 {
    font-size: 24px;
    margin: 10px;
}
#search-form-genre {
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 35px;
    margin-bottom: 7px;
}
#search-form-genre > h3 {
    margin: 0;
}
#search-form-genre > p {
    padding: 2px 5px 6px 5px;
    font-size: 18px;
}
#search-form-genre-list-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 50px;
}
#search-form-genre-list {
    display: flex;
    flex-direction: column;
    height: 455px;
}
#search-form-genre-list > a {
    font-size: 17px;
    transition: font-size .2s ease-in-out;
    text-decoration: none;
    color: white;
}
#search-form-genre-list > a:hover {
    color: #E50914;
    cursor: pointer;
    font-size: 22px;
    margin-bottom: -2px;
}
#search-form-genre-list-box > img {
    width: 52%;
    height: 52%;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(19, 19, 19);
}
.tv-genre-selected {
    height: 390px!important;
}