#nav-box-outer {
    display: flex;
}
#nav-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: rgba(26, 26, 26, 0.931);
    width: 50px;
    transition: width .2s ease-in-out;
}
#nav-box:hover {
    width: 190px;
}
#nav-box > div > p {
    opacity: 0;
    margin: 0;
    padding-left: 12px;
}
#nav-box:hover > div > p {
    animation: font-fade .1s ease-in-out .1s 1 forwards;
    white-space: nowrap;
}
@keyframes font-fade {
    from{ opacity: 0;}
    to{ opacity: 1;}
}
#nav-box > div {
    display: flex;
    align-items: center;
    font-size: 20px;
}
#nav-box > * {
    padding: 10px;
    margin: 0;
    transition: color .2s;
}
#nav-box > *:hover {
    cursor: pointer;
    color: #E50914;
}
#nav-box > div > i {
    font-size: 21px;
    margin-left: 5px;
}
#nav-box:first-child {
    padding-top: 15px;
}
#nav-logo {
    width: 30px;
}
#nav-logo-name {
    padding-left: 7px!important;
    font-weight: bold;
}
